{% extends 'base.html' %}

{% block title %}
    To-Do List
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mt-4">To-Do List</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <table class="table mt-4">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ todo.title }}</td>
                    <td>
                        <a href="{{ url_for('edit_todo', todo_id=todo.id) }}" class="btn btn-sm btn-primary">Edit</a>
                        <a href="{{ url_for('delete_todo', todo_id=todo.id) }}" class="btn btn-sm btn-danger">Delete</a>
                        {% if not todo.completed %}
                            <form method="POST" action="{{ url_for('complete_todo', todo_id=todo.id) }}"
                                  style="display: inline;">
                                <button type="submit" class="btn btn-sm btn-success"
                                        onclick="return confirm('Are you sure you want to mark this item as completed?')">
                                    Complete
                                </button>
                            </form>
                        {% endif %}
                        {% if todo.completed %}
                            <span class="text-success">&#10003;</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('add_todo') }}" class="btn btn-primary">Add New To-Do</a>
    </div>
{% endblock %}
